# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual Environment (IMPORTANT)
# ===============================
venv/
.venv/
env/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# ML Models (trained files)
# ===============================
*.pkl
*.joblib

# ===============================
# Gradio
# ===============================
.gradio/
flagged/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
Thumbs.db
.DS_Store
